__pycache__/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/__pycache__/

# Exclude figures folder
experiments/benchmarks/figures/

# Exclude files stored in the OSF
experiments/diffusion_model/data/osfstorage/
